server:
  port: 9010

spring:
  application:
    name: "message"
  cloud:
    function:
      definition: email|sms
    stream:
      bindings:
        emailsms-in-0:
          destination: send-communication
          group: ${spring.application.name}
        emailsms-out-0:
          destination: communication-sent
      kafka:
        binder:
          brokers:
            - localhost:9092

#logging:
#  level:
#    org.springframework.amqp: ERROR
#    org.springframework.amqp.kafka.listener.SimpleMessageListenerContainer: ERROR
#    org.springframework.cloud.stream.binder.kafka: ERROR